.Fira-Sans{
  font-family: "Fira Sans", serif;
font-weight: 100;
font-style: normal;
}


/* Main Part */
body{
  
  width: 1600px;
  background: rgb(245, 245, 245);
}

/* Header */
header nav{
  display: flex;
  flex-direction:row ;
  justify-content: space-between;
  width: 1600px;
  height: 100px;
  
}
header{
  display: block;
  justify-content: center;
  align-items: center;
  margin: 0px 160px;
}
.sign-in{
  width: 116px;
height: 52px;
  border: 1px solid rgb(0, 106, 80);
border-radius: 8px;
padding: 15px 30px 15px 30px;
}
/* BAnner */
.banner{

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 64px;
  padding: 80px 100px;
  border-radius: 24px;
  background: rgb(198, 228, 214);
  max-width: 1400px;
  margin: 40px auto;
}
.b-button{
  width: 270px;
height: 56px;
border-radius: 8px;
background: rgb(0, 106, 80);
}
.b-title{
  font-weight: 700px;
  font-size: 32px;
}
.banner-img {
  max-width: 50%;
  text-align: center;
}
.banner-img .img {
  max-width: 100%;
  height: auto;
  border-radius: 16px;
}

/* Main section */
.pi-pi{
  margin: 80px 160px;
}
/* All Like
The Vision of Future
Pillars of "Bangladesh 2.0"
 */
 .pi{
  color: rgb(14, 14, 14);
font-family: Fira Sans;
font-size: 40px;
font-weight: 700;
line-height: 48px;
 }
/* After Pillars of BD  */
.containers{
  display: flex;
  flex-direction: row;
  justify-content:space-around;
  align-items: flex-start;
  gap: 30px;
  
  
}

.container{

border: 1px solid rgba(14, 14, 14, 0.15);
border-radius: 16px;
background: rgb(255, 255, 255);
width: 302px;
height: 244px;
padding: 24px;
}
.pi-title{

}
.pi-img{

}
.pi-descriptio{

}
/* Future section */
.future{
  width: 1280px;
  margin: 80px 160px;
}

.fis{

}
.fi{
  
}